/*
    star global rules
    */
:root {
    --min-color: #087c71;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;


}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
}

.contuner a {
    text-decoration: none;
}

body {
    /*google fonts*/
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-color: #727272;
}

.contuner {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/*resonsif*/
/*small*/
@media only screen and (max-width: 768px) {

    div.header h2 {
        font-size: 20px !important;

    }

}

div.intro-landing h1 {
    font-size: 30px !important;
}

div.intro-landing h2 {
    font-size: 40px !important;
}

/*end */
.parent {
    background-color: #eee;
}

.header {
    padding-top: 5px;
    padding-bottom: 0;
    padding-right: 20px;
    padding-left: 0;
    height: 60px;
    margin-top: 10px;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: #727272;

}

.header .contuner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 50px;

}

.header .lougo {
    scale: 0.3;
    position: relative;
    right: 50px;

}

.header .contuner h2 {

    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;

}

.header .links {
    position: relative;

}

/*icons star*/
.header .links .icons {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icons span {
    background-color: #ffffff;
    margin-bottom: 5px;
    direction: rtl;
    height: 2px;
    transition: 0.3s;

}

.header .links .icons:hover {
    cursor: pointer;

    &span {
        background-color: black;
    }
}

.a1 {
    width: 100%;
}

.a2 {
    width: 60%;
}

.header .links:hover .icons span {
    width: 100%;
}


.a3 {
    width: 100%;
}

/*icons end*/

/*ul css*/
.header .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #eee;
    position: absolute;
    right: 0;
    top: calc(100% +17px);
    min-width: 200px;
    margin-top: 10px;
    border-radius: 20px;
    display: none;
    transition: 0.3s;
    z-index: 1;

}

.header .links ul::before {

    content: '';
    border: solid 10px;
    border-color: transparent transparent #eee transparent;
    position: absolute;
    top: -19px;
    right: 13px;
}

.header .links:hover ul {
    display: block;
}



/*links ccs star*/
.header .links ul a {
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
    /*fonts*/
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-variant: small-caps;
    font-size: 20px;
}

.header .links ul a:hover {
    padding-left: 25px;
    padding-right: 5px;
    background-color: #10cab7;
    border-radius: 20px;
}

/*links ccs end*/
/*landing star*/
.landing {
    background-image: url(https://cdn.pixabay.com/photo/2022/09/22/08/41/forest-7471935_640.jpg);
    background-size: cover;
    height: calc(100vh - 57px);
    position: relative;
    background-attachment: fixed;
}

.dz {
    padding: 20px;
}

.landing .intro-landing {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 600px;
    max-width: 100%;
    text-align: center;
}

.landing .intro-landing p {
    margin: 0;
    font-size: 25px;
    color: rgba(27, 27, 27, 0.801);
    font-weight: 500;
    line-height: 1.5;
    text-align: center;


}

.landing .intro-landing h1,
h2 {
    font-family: "Pacifico", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-top: 5px;

}

.d1 {
    clear: both;
}

.dz {
    margin-top: 5px;
    background-color: #727272;
    text-align: center;
}



/*landing end*/
.tes {
    width: 100%;
}

.tes h3 {
    font-family: cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: whitesmoke;
    font-size: 30px;
}

/*server strat*/
.srever {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.sr {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;

}

/*card*/
.card {

    width: fit-content;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    max-width: 1fr;
    background-color: #ffffffd8;
    color: black;
    text-transform: capitalize;
    transition: 0.6s ease-in-out;

}

.card:hover {
    box-shadow: 0px 3px 15px #1a1919 inset;
    background-color: rgb(136, 136, 136);

}

.card:hover h3 {
    text-shadow: 0px 3px 15px #615d5d;
    color: rgb(0, 0, 0);


}

.card:hover h3:last-child {
    color: red;
    font-size: 25px;
    text-shadow: 0px 3px 15px #000000;
    font-family: cursive;
    font-weight: 900;
    text-transform: capitalize;
}

.card:not(last-child) {
    flex-grow: 2;
}
.card:hover h3:last-child::after{
    content: '!';
    padding: 2px;
}


.card .imger {
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
}

.imger .img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card .info h3 {
    font-family: cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    transition: 0.6s ease-in-out;
}

.card .info p {
    width: 70%;
    text-align: center;
    margin: auto;
}

.ofter .dr {
    display: grid !important;
    grid-template-columns: repeat(auto, minmax(300px));
}

/*sere end*/